<body style="
    margin: 0;
    padding: 0;
    background: #ffffff;
">
    <div style="background-image: url(close.png); background-size: 100% 100%;width: 100%;height: 100%; margin: 0; padding: 0;" onclick="closeDialog()"></div>
    <script>
        function closeDialog() {
          if (parent.closeWebviewDialog) {
            parent.closeWebviewDialog();
          } else {
            document.location = 'jtdeath://mahjong.z88.net';
          }
        }
    </script>
</body>